.footer {
	background: url(../images/bg-footer.png);
	height: 220px;
	margin-top: -220px; 
	position: relative;
	padding-top: 35px;
}

.footer-social-list {
	cursor: default;
	clear: both;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}

.foot-social__item {
	vertical-align: middle;
	height: 43px;
	width: 43px;
	border-radius: 50%;
	margin-left: 16px;
	background-color: white;
	display: inline-block;
}

.foot-social__link {
	display: block;
	width: 100%;
	height: 100%;
}

@each $item in $socials {
	.foot-social__link_#{$item} {
		$foo-item: #{$item}-foo;
		@if $item == tw {
			@include get-sprite_x_y($map, $foo-item, 5+4, 7+3);
		} @else if $item == vk {
			@include get-sprite_x_y($map, $foo-item, 9+5, 7+3);
		} @else if $item == fb {
			@include get-sprite_x_y($map, $foo-item, 10+6, 6+5);
		}
	}
}

@each $item in $socials {
	.foot-social__link_#{$item}:hover {
		$foo-item-hover: #{$item}-foo-hover;
		@if $item == tw {
			@include get-sprite_x_y($map-hover, $foo-item-hover, 5+4, 7+3);
		} @else if $item == vk {
			@include get-sprite_x_y($map-hover, $foo-item-hover, 9+5, 7+3);
		} @else if $item == fb {
			@include get-sprite_x_y($map-hover, $foo-item-hover, 10+6, 6+5);
		}
	}
}

.foot-social__item:first-child {
	margin-left: 0;
}

.logo-footer {
	clear: both;
	float: left;
	display: inline-block;
}

.foot-nav__list {
	clear: both;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	width: 585px;
	text-align: right;
}

.foot-nav__item {
	margin-left: 20px;
	display: inline-block;
}

.foot-nav__link {
	color: white;
	font-size: 14px;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}


.copy {
	display: inline-block;
	color: white;
	width: 100%;
	text-align: center;
	border-top: 1px solid #494949;
	margin-top: 32px;
	padding-top: 7px;
	font-size: 12px;
} 