.sidebar {
	width: 335px;
	float: left;
}

.expenses__list {
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 0;
	border-radius: 5px;
	border: 1px solid #dee1e4;
	overflow: hidden;
	margin-bottom: 40px;
}

.expenses__item {
	border-top: 1px solid #dee1e4;
}

.expenses__item:first-child {
	border-top: none;
}

.expenses__link {
	display: block;
	width: 100%;
	padding: 15px 30px;
	background: white;
	color: #7f7f7f;
	text-decoration: none;
}

.expenses__link:hover {
	background: #d9e5ea;
	color: #5d656c;
}

.categories__list {
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid #dee1e4;
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: white;
	margin-bottom: 35px;
}

.categories__name {
	cursor: default;
	font-family: $semibold;
	display: inline-block;
	padding: 15px 30px;
}

.categories__content {
	display: none;
}

.categories__content-list {
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 0 30px 15px 25px;
}

.categories__content-item {
	padding: 10px 5px;
	display: block;
}

.categories__item {
	position: relative;
	border-bottom: 1px solid #dee1e4;
}

.categories__toggle {
	display: block;
	position: absolute;
	top: 15px;
	right: 15px;
	width: 25px;
	height: 25px;
	@include get-sprite_x_y($map, arrow-down, 3, 5);
}

.categories__toggle_open {
	@include get-sprite_x_y($map, arrow-up, 3, 5);
}

.categories__item:last-child {
	border: none;
}

.categories__input-radio,
.categories__input-checkbox {
	display: none;
}

.categories__input-radio ~ .categories__label-text-radio:before {
	content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    border: 3px solid #fff;
    box-shadow: 0 0 0 3px #bdc3c7;
    border-radius: 50%;
}

.categories__input-radio:checked ~ .categories__label-text-radio:before {
	 background: #ff6600;
	 box-shadow: 0 0 0 3px #ff6600;
}

.categories__input-checkbox ~ .categories__label-text-checkbox:before {
	content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 10px;
	background-color: #dee1e4;
	border-radius: 4px;
	vertical-align: middle;
}

.categories__input-checkbox:checked + .categories__label-text-checkbox:before {
	@include get-sprite_x_y($map, white-mark, 3, 5);
	background-color: #ff6e35;
}

.categories__input-checkbox:not(:checked) + .categories__label-text-checkbox:hover:before {
	@include get-sprite_x_y($map, black-mark, 3, 5);
	background-color: #dee1e4;
}

.categories__label {
	cursor: pointer;
}

.price-min, 
.price-max {
	width: 85px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	padding: 5px 10px;
	font-size: 14px;
	font-family: $semibold;
	line-height: 16px;
}

.label__price-min,
.label__price-max {
	padding: 10px 5px;
	margin-bottom: 25px;
}

.label__price-min {
	float: left;
	margin-left: 25px;
}

.label__price-max {
	float: right;
	margin-right: 25px;
}

//=========== SLider ==============
.slider-range {
	clear: both;
	margin: 0 auto;
	margin-bottom: 25px;
	width: 270px;
	height: 3px;
	border: none;
	background-color: #dddddd;
}

.ui-slider-range {
	background-color: #ff6600;
}

.ui-slider-handle {
	cursor: pointer !important;
	display: block;
	background: transparent !important;
	border: none !important;
	outline: none !important;
	padding-top: 8px;
}

.ui-slider-handle:before {
	display: block;
	margin: 0 auto;
	content: '' ;
	width: 0px;
	height: 0px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 8px solid black;
}

.ui-slider-handle:after {
	margin:0 auto;
	display: block ;
	content: '' ;
	width: 8px;
	height: 8px;
	background: black;
}

.colors__list {
	list-style: none;
	padding: 5px 8px;
	padding-right: 60px;
	margin: 0;
}

.colors__item {
	margin-left: 22px;
	margin-bottom: 22px;
	display: inline-block;
	width: 37px;
	height: 37px;
	cursor: pointer;
	border: 1px solid #dee1e4;
}

.colors__item:hover {
	outline: 2px solid #ff6600;
}

.colors__item_active {
	outline: 2px solid #ff6600;
}

.clear-filter {
	color: #5db2fc;
}

// $colors-items: white white, silver #cccccc, black black, darkblue #0a3153, red #ff1800, yellow #fff343, orange #fb914a, green #92c37c, blue #40a6ff, purpul #9870ad, rose #dc78ad,  brown #7f401d;

// @each $item in $colors-items {
// 	$key: nth($item, 1);
//  	$value: nth($item, 2);

// 	.colors__item_#{$key} {
// 		background-color: $value;
// 	}
// }

$colors-items: ( "white": white, "silver": #cccccc, "black": black, "darkblue": #0a3153, "red": #ff1800, "yellow": #fff343, "orange": #fb914a, "green": #92c37c, "blue": #40a6ff, "purpul": #9870ad, "rose": #dc78ad,  "brown": #7f401d);

@each $key,$value in $colors-items {
	.colors__item_#{$key} {
		background-color: $value;
	}
}