doctype html
html(lang='ru-Ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
		meta(name='viewport' content='width=device-width')
		title Мобильные телефоны
		link(rel="stylesheet", href="../css/main.css")
	body
		.wrapper
			header.header
				.header-part-1
					.container.clearfix
						ul.header-social-list
							li.head-social__item
								a.head-social__link.head-social__link_fb.text-hide fb
							li.head-social__item
								a.head-social__link.head-social__link_vk.text-hide vk
							li.head-social__item
								a.head-social__link.head-social__link_tw.text-hide tw
						.telephone "I" +7 (921) 123-12-13
						.adress "I" ул. Маяковская 6, офис 17
				.header-part-2
					.container.clearfix
						a.logo
							img(src="../images/logo.png", alt="logo").logo__img
							h1.text-hide COOLTECH
						.search-block
							input(type="search", placeholder="Что будем искать?").search-block__input
						.help-menu
							ul.help-menu__list
								li.help-menu__item
									a.help-menu__link Карта проезда
								li.help-menu__item
									a.help-menu__link История заказов 
								li.help-menu__item
									a.help-menu__link Корзина 		
				.header-part-3
					.container
						nav.nav
							ul.nav__list
								li.nav__item
									a.nav__link Планшеты
								li.nav__item
									a.nav__link Мобильный телефоны
								li.nav__item
									a.nav__link Мp3 плееры
								li.nav__item
									a.nav__link Персональные компьютеры
								li.nav__item
									a.nav__link Ноутбуки
								li.nav__item
									a.nav__link Аксессуары
								li.nav__item
									a.nav__link Бытовая техника

			main.content
				.container.clearfix
					.breadcrumbs
						ul.breadcrumbs__list
							li.breadcrumbs__item
								a.breadcrumbs__link Главная &gt;
							li.breadcrumbs__item
								a.breadcrumbs__link Каталог
						.breadcrumbs__current Мобильные телефоны

					aside.sidebar
						ul.expenses__list
							li.expenses__item
								a(href="#").expenses__link Флагманы
							li.expenses__item
								a(href="#").expenses__link Бюджетная линейка
						ul.categories__list
							li.categories__item
								span.categories__name Наличие в магазинах
								div.categories__content
									ul.categories__content__list
										li.categories__content__item
											input(type="radio", name="in-stores", id="in-stores-1" checked)
											label(for="in-stores-1").categories__label Во всех магазинах
										li.categories__content__item
											input(type="radio", name="in-stores", id="in-stores-2")
											label(for="in-stores-2").categories__label В ближайшем ко мне магазине

							li.categories__item
								span.categories__name Бренды
								div.categories__content
									ul.categories__content__list
										li.categories__content__item
											input(type="checkbox", name="brands", id="brands-1")
											label(for="brands-1").categories__label Lenovo
										li.categories__content__item
											input(type="checkbox", name="brands", id="brands-2")
											label(for="brands-2").categories__label Apple
										li.categories__content__item
											input(type="checkbox", name="brands", id="brands-3")
											label(for="brands-3").categories__label Samsung
										li.categories__content__item
											input(type="checkbox", name="brands", id="brands-4")
											label(for="brands-4").categories__label Asus
										li.categories__content__item
											input(type="checkbox", name="brands", id="brands-5")
											label(for="brands-5").categories__label Motorola
										li.categories__content__item
											a(href="#").clear-filter Сбросить фильтр

							li.categories__item
								span.categories__name Цена
								div.categories__content
									label.label__price-min от
										input(type="text", id="price-min" class="price-min")
									label.label__price-max до 
										input(type="text", id="price-max" class="price-max")
									div(id="slider-range", class="slider-range").slider-range
							li.categories__item
								span.categories__name Цвет
								div.categories__content
									ul.colors__list
										li.colors__item.colors__item_white
										li.colors__item.colors__item_silver
										li.colors__item.colors__item_black
										li.colors__item.colors__item_darkblue
										li.colors__item.colors__item_red
										li.colors__item.colors__item_yellow
										li.colors__item.colors__item_orange
										li.colors__item.colors__item_green
										li.colors__item.colors__item_blue
										li.colors__item.colors__item_purpul
										li.colors__item.colors__item_rose
										li.colors__item.colors__item_brown
							li.categories__item
								span.categories__name Операционные системы
								div.categories__content
									ul.categories__content__list
										li.categories__content__item
											input(type="checkbox", name="OS", id="OS-1")
											label(for="OS-1").categories__label Android
										li.categories__content__item
											input(type="checkbox", name="OS", id="OS-2")
											label(for="OS-2").categories__label iOS
										li.categories__content__item
											input(type="checkbox", name="OS", id="OS-3")
											label(for="OS-3").categories__label Windows Mobile
										li.categories__content__item
											input(type="checkbox", name="OS", id="OS-4")
											label(for="OS-4").categories__label Symbian
										li.categories__content__item
											input(type="checkbox", name="OS", id="OS-5")
											label(for="OS-5").categories__label Custom
										li.categories__content__item
											a(href="#").clear-filter Сбросить фильтр

					.content-area

					div.info

		footer.footer
			.container.clearfix
				ul.footer-social-list
					li.foot-social__item
						a.foot-social__link.foot-social__link_fb.text-hide fb
					li.foot-social__item
						a.foot-social__link.foot-social__link_vk.text-hide vk
					li.foot-social__item
						a.foot-social__link.foot-social__link_tw.text-hide tw
				a.logo-footer
					img(src="../images/logo-footer.png", alt="logo").logo__img
					span.text-hide COOLTECH
				nav.foot-nav
					ul.foot-nav__list
						li.foot-nav__item
							a.foot-nav__link Планшеты
						li.foot-nav__item
							a.foot-nav__link Мобильный телефоны
						li.foot-nav__item
							a.foot-nav__link Мp3 плееры
						li.foot-nav__item
							a.foot-nav__link Персональные компьютеры
						li.foot-nav__item
							a.foot-nav__link Ноутбуки
						li.foot-nav__item
							a.foot-nav__link Аксессуары
						li.foot-nav__item
							a.foot-nav__link Бытовая техника
			span.copy All rights reserved. 2016. no copy allowed
		script(src="../bower/jquery/jquery.js")
		script(src="../js/jquery-ui.js")
		script(src="../js/main.js")
		






