doctype html
html(lang='ru-Ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
		meta(name='viewport' content='width=device-width')
		title Мобильные телефоны
		link(rel="stylesheet", href="../css/main.css")
	body
		.wrapper
			header.header
				.header-part-1
					.container.clearfix
						ul.header-social-list
							li.head-social__item
								a(href="#").head-social__link.head-social__link_fb
									span.text-hide fb
							li.head-social__item
								a(href="#").head-social__link.head-social__link_vk
									span.text-hide vk
							li.head-social__item
								a(href="#").head-social__link.head-social__link_tw
									span.text-hide tw
						ul.location
							li.location__adress ул. Маяковская 6, офис 17
							li.location__telephone +7 (921) 123-12-13
				.header-part-2
					.container.clearfix
						a(href="#").logo
							img(src="../images/logo.png", alt="logo").logo__img
							h1.text-hide COOLTECH
						.search-block
							input(type="search", placeholder="Что будем искать?").search-block__input
							button(type="submit").search-block__button Найти
						.help-menu
							ul.help-menu__list
								li.help-menu__item
									a(href="#").help-menu__link Карта проезда
								li.help-menu__item
									a(href="#").help-menu__link История заказов 
								li.help-menu__item
									a(href="#").help-menu__link Корзина 		
				.header-part-3
					.container
						nav.nav
							ul.nav__list
								li.nav__item
									a(href="#").nav__link Планшеты
								li.nav__item
									a(href="#").nav__link.nav__link_active Мобильные телефоны
								li.nav__item
									a(href="#").nav__link Мp3 плееры
								li.nav__item
									a(href="#").nav__link Персональные компьютеры
								li.nav__item
									a(href="#").nav__link Ноутбуки
								li.nav__item
									a(href="#").nav__link Аксессуары
								li.nav__item
									a(href="#").nav__link Бытовая техника

			main.content
				.container.clearfix
					.breadcrumbs
						ul.breadcrumbs__list
							li.breadcrumbs__item
								a(href="#").breadcrumbs__link Главная &gt;
							li.breadcrumbs__item
								a(href="#").breadcrumbs__link Каталог
							li.breadcrumbs__current Мобильные телефоны

					aside.sidebar
						ul.expenses__list
							li.expenses__item
								a(href="#").expenses__link Флагманы
							li.expenses__item
								a(href="#").expenses__link Бюджетная линейка
						ul.categories__list
							li.categories__item
								a(href="#").categories__toggle
								span.categories__name Наличие в магазинах
								div.categories__content
									ul.categories__content__list
										li.categories__content__item
											input(type="radio", name="in-stores", id="in-stores-1" checked)
											label(for="in-stores-1").categories__label Во всех магазинах
										li.categories__content__item
											input(type="radio", name="in-stores", id="in-stores-2")
											label(for="in-stores-2").categories__label В ближайшем ко мне магазине

							li.categories__item
								a(href="#").categories__toggle
								span.categories__name Бренды
								div.categories__content
									ul.categories__content__list
										li.categories__content__item
											input(type="checkbox", name="brands", id="brands-1")
											label(for="brands-1").categories__label Lenovo
										li.categories__content__item
											input(type="checkbox", name="brands", id="brands-2")
											label(for="brands-2").categories__label Apple
										li.categories__content__item
											input(type="checkbox", name="brands", id="brands-3" checked)
											label(for="brands-3").categories__label Samsung
										li.categories__content__item
											input(type="checkbox", name="brands", id="brands-4")
											label(for="brands-4").categories__label Asus
										li.categories__content__item
											input(type="checkbox", name="brands", id="brands-5")
											label(for="brands-5").categories__label Motorola
										li.categories__content__item
											a(href="#").clear-filter Сбросить фильтр

							li.categories__item
								a(href="#").categories__toggle
								span.categories__name Цена
								div.categories__content
									label.label__price-min от
										input(type="text", id="price-min" class="price-min", value="1")
									label.label__price-max до 
										input(type="text", id="price-max" class="price-max", value="9999999")
									div(id="slider-range", class="slider-range").slider-range
							li.categories__item
								a(href="#").categories__toggle
								span.categories__name Цвет
								div.categories__content
									ul.colors__list
										li.colors__item.colors__item_white
										li.colors__item.colors__item_silver
										li.colors__item.colors__item_black
										li.colors__item.colors__item_darkblue
										li.colors__item.colors__item_red
										li.colors__item.colors__item_yellow
										li.colors__item.colors__item_orange
										li.colors__item.colors__item_green
										li.colors__item.colors__item_blue
										li.colors__item.colors__item_purpul
										li.colors__item.colors__item_rose
										li.colors__item.colors__item_brown
							li.categories__item
								a(href="#").categories__toggle
								span.categories__name Операционные системы
								div.categories__content
									ul.categories__content__list
										li.categories__content__item
											input(type="checkbox", name="OS", id="OS-1" checked)
											label(for="OS-1").categories__label Android
										li.categories__content__item
											input(type="checkbox", name="OS", id="OS-2")
											label(for="OS-2").categories__label iOS
										li.categories__content__item
											input(type="checkbox", name="OS", id="OS-3")
											label(for="OS-3").categories__label Windows Mobile
										li.categories__content__item
											input(type="checkbox", name="OS", id="OS-4")
											label(for="OS-4").categories__label Symbian
										li.categories__content__item
											input(type="checkbox", name="OS", id="OS-5")
											label(for="OS-5").categories__label Custom
										li.categories__content__item
											a(href="#").clear-filter Сбросить фильтр

					.content-area
						.control.clearfix
							.control__sort Сортировать по
								select.control__select
									option Цене
							ul.control__view-list
								li.control__view-item 
									span.control__view-item-text Вид каталога
								li.control__view-item.control__view-item_inline-block
								li.control__view-item.control__view-item_block
								li.control__view-item.control__view-item_inline
						ul.product__list
							li.product__item
								.product__box-1
									.product__full-size-img
										img(src="../images/img-2.png", alt="").product__img-hight
									ul.product__img-list
										li.product__img-item.product__img-item_active
											img(src="../images/img-2.png", alt="").product__img-small
										li.product__img-item
											img(src="../images/img-3.png", alt="").product__img-small
										li.product__img-item
											img(src="../images/img-4.png", alt="").product__img-small
									.product__article Артикул 
										span.product__article_number 189238

								.product__box-2
									h3.product__title Samsung GT-I9301I GALAXY S 3
									.product__info.
										Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота OVER9k процессора 1400 МГц EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
									ul.product__features-list
										li.product__features-item
											.product__features-cell Тип SIM-карты
											.product__features-cell Micro-SIM
										li.product__features-item
											.product__features-cell Количество SIM-карт
											.product__features-cell 1
										li.product__features-item
											.product__features-cell Цвет
											.product__features-cell Белый
										li.product__features-item
											.product__features-cell ОС
											.product__features-cell Android
										li.product__features-item
											.product__features-cell Связь 3G
											.product__features-cell Есть
										li.product__features-item
											.product__features-cell 4G (LTE)
											.product__features-cell Нет
										li.product__features-item
											.product__features-cell GPS-модуль
											.product__features-cell Есть

									ul.product__rate-list
										li.product__rate-item
										li.product__rate-item
										li.product__rate-item
										li.product__rate-item
										li.product__rate-item
										li.product__rate-item_star-col 4

								.product__box-3
									.product__price 10 990 Р
									.product__availability В наличии
									button.product__add-to-cart В корзину
							li.product__item
								.product__box-1
									.product__full-size-img
										img(src="../images/img-2.png", alt="").product__img-hight
									ul.product__img-list
										li.product__img-item.product__img-item_active
											img(src="../images/img-2.png", alt="").product__img-small
										li.product__img-item
											img(src="../images/img-3.png", alt="").product__img-small
										li.product__img-item
											img(src="../images/img-4.png", alt="").product__img-small
									.product__article Артикул 
										span.product__article_number 189238

								.product__box-2
									h3.product__title Samsung GT-I9301I GALAXY S 3
									.product__info.
										Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота OVER9k процессора 1400 МГц EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
									ul.product__features-list
										li.product__features-item
											.product__features-cell Тип SIM-карты
											.product__features-cell Micro-SIM
										li.product__features-item
											.product__features-cell Количество SIM-карт
											.product__features-cell 1
										li.product__features-item
											.product__features-cell Цвет
											.product__features-cell Белый
										li.product__features-item
											.product__features-cell ОС
											.product__features-cell Android
										li.product__features-item
											.product__features-cell Связь 3G
											.product__features-cell Есть
										li.product__features-item
											.product__features-cell 4G (LTE)
											.product__features-cell Нет
										li.product__features-item
											.product__features-cell GPS-модуль
											.product__features-cell Есть

									ul.product__rate-list
										li.product__rate-item
										li.product__rate-item
										li.product__rate-item
										li.product__rate-item
										li.product__rate-item
										li.product__rate-item_star-col 4

								.product__box-3
									.product__price 10 990 Р
									.product__availability В наличии
									button.product__add-to-cart В корзину
							li.product__item
								.product__box-1
									.product__full-size-img
										img(src="../images/img-2.png", alt="").product__img-hight
									ul.product__img-list
										li.product__img-item.product__img-item_active
											img(src="../images/img-2.png", alt="").product__img-small
										li.product__img-item
											img(src="../images/img-3.png", alt="").product__img-small
										li.product__img-item
											img(src="../images/img-4.png", alt="").product__img-small
									.product__article Артикул 
										span.product__article_number 189238

								.product__box-2
									h3.product__title Samsung GT-I9301I GALAXY S 3
									.product__info.
										Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота OVER9k процессора 1400 МГц EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
									ul.product__features-list
										li.product__features-item
											.product__features-cell Тип SIM-карты
											.product__features-cell Micro-SIM
										li.product__features-item
											.product__features-cell Количество SIM-карт
											.product__features-cell 1
										li.product__features-item
											.product__features-cell Цвет
											.product__features-cell Белый
										li.product__features-item
											.product__features-cell ОС
											.product__features-cell Android
										li.product__features-item
											.product__features-cell Связь 3G
											.product__features-cell Есть
										li.product__features-item
											.product__features-cell 4G (LTE)
											.product__features-cell Нет
										li.product__features-item
											.product__features-cell GPS-модуль
											.product__features-cell Есть
									ul.product__rate-list
										li.product__rate-item
										li.product__rate-item
										li.product__rate-item
										li.product__rate-item
										li.product__rate-item
										li.product__rate-item_star-col 4

								.product__box-3
									.product__price 10 990 Р
									.product__availability В наличии
									button.product__add-to-cart В корзину
							li.product__item
								.product__box-1
									.product__full-size-img
										img(src="../images/img-2.png", alt="").product__img-hight
									ul.product__img-list
										li.product__img-item.product__img-item_active
											img(src="../images/img-2.png", alt="").product__img-small
										li.product__img-item
											img(src="../images/img-3.png", alt="").product__img-small
										li.product__img-item
											img(src="../images/img-4.png", alt="").product__img-small
									.product__article Артикул 
										span.product__article_number 189238

								.product__box-2
									h3.product__title Samsung GT-I9301I GALAXY S 3
									.product__info.
										Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота OVER9k процессора 1400 МГц EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
									ul.product__features-list
										li.product__features-item
											.product__features-cell Тип SIM-карты
											.product__features-cell Micro-SIM
										li.product__features-item
											.product__features-cell Количество SIM-карт
											.product__features-cell 1
										li.product__features-item
											.product__features-cell Цвет
											.product__features-cell Белый
										li.product__features-item
											.product__features-cell ОС
											.product__features-cell Android
										li.product__features-item
											.product__features-cell Связь 3G
											.product__features-cell Есть
										li.product__features-item
											.product__features-cell 4G (LTE)
											.product__features-cell Нет
										li.product__features-item
											.product__features-cell GPS-модуль
											.product__features-cell Есть
									ul.product__rate-list
										li.product__rate-item
										li.product__rate-item
										li.product__rate-item
										li.product__rate-item
										li.product__rate-item
										li.product__rate-item_star-col 4

								.product__box-3
									.product__price 10 990 Р
									.product__availability В наличии
									button.product__add-to-cart В корзину

						ul.page-number__list
							li.page-number__item 
								a(href="#").page-number__link &#60;
							li.page-number__item.page-number__item_active
								a(href="#").page-number__link 1
							li.page-number__item
								a(href="#").page-number__link 2
							li.page-number__item
								a(href="#").page-number__link 3
							li.page-number__item
								a(href="#").page-number__link &#62;

					.info-block
						h4.info-block__title Важная информация
						.info-block__text
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde placeat repellendus quisquam error eligendi aperiam a, laboriosam ex, consectetur aliquid. Eius reiciendis, sit iusto non error enim vero, corrupti ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum saepe, suscipit repellendus optio quasi a facere obcaecati ipsa voluptatum nisi inventore eaque cumque nostrum provident rem. Sapiente quis, eveniet similique?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis odio, iste sunt recusandae provident consequatur eum in, deserunt dignissimos architecto rem, maxime officia reprehenderit. Tempore tenetur nisi, fuga quisquam repellat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde placeat repellendus quisquam error eligendi aperiam a, laboriosam ex, consectetur aliquid. Eius reiciendis, sit iusto non error enim vero, corrupti ullam.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ducimus praesentium nam deleniti totam alias provident, accusamus eaque doloribus, quaerat sint rem. Recusandae mollitia, quis, nulla dignissimos nostrum illum suscipit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor consequuntur unde, quam aliquam deleniti, aut eius nostrum, laborum deserunt magni minus. Veniam voluptate odit quos alias odio sed provident nesciunt.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde placeat repellendus quisquam error eligendi aperiam a, laboriosam ex, consectetur aliquid. Eius reiciendis, sit iusto non error enim vero, corrupti ullam.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam rerum, debitis, perspiciatis facere culpa, iusto iure at quos voluptates delectus neque asperiores possimus ad, suscipit nesciunt. Dolor fuga, sint mollitia.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae id aliquam, iure, dolorem voluptates exercitationem deserunt temporibus, minus maxime ipsam assumenda, numquam praesentium vero corrupti incidunt placeat! Dolore, error, ea.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde placeat repellendus quisquam error eligendi aperiam a, laboriosam ex, consectetur aliquid. Eius reiciendis, sit iusto non error enim vero, corrupti ullam.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ut officia tempora similique ipsum officiis delectus itaque repudiandae ab odio in eligendi eos necessitatibus quidem, magni ullam eveniet debitis earum.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque corrupti, illo quibusdam laudantium non exercitationem. Hic, ullam rem placeat reprehenderit laborum quis incidunt ipsa nostrum aspernatur deserunt non. Molestias, quisquam.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde placeat repellendus quisquam error eligendi aperiam a, laboriosam ex, consectetur aliquid. Eius reiciendis, sit iusto non error enim vero, corrupti ullam.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi repellat repellendus beatae dolore at veritatis dolorem quasi, ipsam quidem et delectus adipisci aut sit, quod? Voluptatibus fuga ratione praesentium molestias?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic sunt, soluta itaque officiis! Architecto rem laborum, dolorem accusantium id reprehenderit, voluptas enim facilis, sunt dicta inventore odio! Accusantium, iusto nobis.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde placeat repellendus quisquam error eligendi aperiam a, laboriosam ex, consectetur aliquid. Eius reiciendis, sit iusto non error enim vero, corrupti ullam.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ab vero, labore odio ad, ducimus eius amet rerum officiis illum praesentium iusto. Doloremque, voluptate porro temporibus vitae aliquam sequi nulla.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam saepe unde provident non veritatis consectetur temporibus voluptatibus.
		footer.footer
			.container.clearfix
				ul.footer-social-list
					li.foot-social__item
						a(href="#").foot-social__link.foot-social__link_fb
							span.text-hide fb
					li.foot-social__item
						a(href="#").foot-social__link.foot-social__link_vk
							span.text-hide vk
					li.foot-social__item
						a(href="#").foot-social__link.foot-social__link_tw
							span.text-hide tw
				a(href="#").logo-footer
					img(src="../images/logo-footer.png", alt="logo").logo__img
					span.text-hide COOLTECH
				nav.foot-nav
					ul.foot-nav__list
						li.foot-nav__item
							a(href="#").foot-nav__link Планшеты
						li.foot-nav__item
							a(href="#").foot-nav__link Мобильный телефоны
						li.foot-nav__item
							a(href="#").foot-nav__link Мp3 плееры
						li.foot-nav__item
							a(href="#").foot-nav__link Персональные компьютеры
						li.foot-nav__item
							a(href="#").foot-nav__link Ноутбуки
						li.foot-nav__item
							a(href="#").foot-nav__link Аксессуары
						li.foot-nav__item
							a(href="#").foot-nav__link Бытовая техника
			span.copy All rights reserved. 2016. no copy allowed
		script(src="../bower/jquery/jquery.js")
		script(src="../js/jquery-ui.js")
		script(src="../js/jquery.columnizer.js")
		
		//- //test dot-dot-dot for ... 
		//- script(src="//pastebin.com/raw.php?i=4hAcxkH4")
		
		script(src="../js/dotdotdot.js")
		script(src="../js/main.js")
		






