doctype html
html(lang='ru-Ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
		meta(name='viewport' content='width=device-width')
		title Мобильные телефоны
		link(rel="stylesheet", href="../bower/normalize-css/normalize.css")
		link(rel="stylesheet", href="../css/main.css")
	body
		.wrapper
			header.header
				.header-part-1
					.container.clearfix
						ul.header-social-list
							li.head-social__item
								a.head-social__link.head-social__link_fb.text-hide fb
							li.head-social__item
								a.head-social__link.head-social__link_vk.text-hide vk
							li.head-social__item
								a.head-social__link.head-social__link_tw.text-hide tw
						.telephone "I" +7 (921) 123-12-13
						.adress "I" ул. Маяковская 6, офис 17
				.header-part-2
					.container.clearfix
						a.logo
							img(src="../images/logo.png", alt="logo").logo__img
							h1.text-hide COOLTECH
						.search-block
							input(type="search", placeholder="Что будем искать?").search-block__input
						.help-menu
							ul.help-menu__list
								li.help-menu__item
									a.help-menu__link Карта проезда
								li.help-menu__item
									a.help-menu__link История заказов 
								li.help-menu__item
									a.help-menu__link Корзина 		
				.header-part-3
					.container
						nav.nav
							ul.nav__list
								li.nav__item
									a.nav__link Планшеты
								li.nav__item
									a.nav__link Мобильный телефоны
								li.nav__item
									a.nav__link Мp3 плееры
								li.nav__item
									a.nav__link Персональные компьютеры
								li.nav__item
									a.nav__link Ноутбуки
								li.nav__item
									a.nav__link Аксессуары
								li.nav__item
									a.nav__link Бытовая техника

			main.content
				.container
					.breadcrumbs

					aside.sidebar

					.content-area

					div.info

		footer.footer
			.container.clearfix
				ul.footer-social-list
					li.foot-social__item
						a.foot-social__link.foot-social__link_fb.text-hide fb
					li.foot-social__item
						a.foot-social__link.foot-social__link_vk.text-hide vk
					li.foot-social__item
						a.foot-social__link.foot-social__link_tw.text-hide tw
				a.logo-footer
					img(src="../images/logo-footer.png", alt="logo").logo__img
					span.text-hide COOLTECH
				nav.foot-nav
					ul.foot-nav__list
						li.foot-nav__item
							a.foot-nav__link Планшеты
						li.foot-nav__item
							a.foot-nav__link Мобильный телефоны
						li.foot-nav__item
							a.foot-nav__link Мp3 плееры
						li.foot-nav__item
							a.foot-nav__link Персональные компьютеры
						li.foot-nav__item
							a.foot-nav__link Ноутбуки
						li.foot-nav__item
							a.foot-nav__link Аксессуары
						li.foot-nav__item
							a.foot-nav__link Бытовая техника
			span.copy All rights reserved. 2016. no copy allowed






