aside.sidebar
	ul.expenses__list
		li.expenses__item
			a(href="#").expenses__link Флагманы
		li.expenses__item
			a(href="#").expenses__link Бюджетная линейка
	ul.categories__list
		li.categories__item
			a(href="#").categories__toggle
			span.categories__name Наличие в магазинах
			div.categories__content
				ul.categories__content-list
						li.categories__content-item
							label.categories__label
								input(type="radio", name="in-stores", checked).categories__input-radio
								.categories__label-text.categories__label-text-radio Во всех магазинах
						li.categories__content-item
							label.categories__label.categories__label-radio
								input(type="radio", name="in-stores").categories__input-radio
								.categories__label-text.categories__label-text-radio В ближайшем ко мне магазине

		li.categories__item
			a(href="#").categories__toggle
			span.categories__name Бренды
			div.categories__content
				ul.categories__content-list
					li.categories__content-item
						label.categories__label.categories__label-checkbox
							input(type="checkbox", name="brands").categories__input-checkbox
							.categories__label-text.categories__label-text-checkbox Lenovo
					li.categories__content-item
						label.categories__label.categories__label-checkbox
							input(type="checkbox", name="brands").categories__input-checkbox
							.categories__label-text.categories__label-text-checkbox Apple
					li.categories__content-item
						label.categories__label.categories__label-checkbox
							input(type="checkbox", name="brands" checked).categories__input-checkbox
							.categories__label-text.categories__label-text-checkbox Samsung
					li.categories__content-item
						label.categories__label.categories__label-checkbox
							input(type="checkbox", name="brands").categories__input-checkbox
							.categories__label-text.categories__label-text-checkbox Asus
					li.categories__content-item
						label.categories__label.categories__label-checkbox
							input(type="checkbox", name="brands").categories__input-checkbox
							.categories__label-text.categories__label-text-checkbox Motorola
					li.categories__content-item
						a(href="#").clear-filter Сбросить фильтр

		li.categories__item
			a(href="#").categories__toggle
			span.categories__name Цена
			div.categories__content
				label.label__price-min от
					input(type="text", id="price-min" class="price-min", value="1000", data-min="1")
				label.label__price-max до 
					input(type="text", id="price-max" class="price-max", value="5000", data-max="10000")
				div(id="slider-range", class="slider-range").slider-range
		li.categories__item
			a(href="#").categories__toggle
			span.categories__name Цвет
			div.categories__content
				ul.colors__list
					-var colors = ['white', 'silver', 'black', 'darkblue', 'red', 'yellow', 'orange', 'green', 'blue', 'purpul', 'rose', 'brown']
					each item in colors 
						li(class="colors__item colors__item_#{item}")
		li.categories__item
			a(href="#").categories__toggle
			span.categories__name Операционные системы
			div.categories__content
				ul.categories__content-list
					li.categories__content-item
						label.categories__label.categories__label-checkbox
							input(type="checkbox", name="OS" checked).categories__input-checkbox
							.categories__label-text.categories__label-text-checkbox Android
					li.categories__content-item
						label.categories__label.categories__label-checkbox
							input(type="checkbox", name="OS").categories__input-checkbox
							.categories__label-text.categories__label-text-checkbox iOS
					li.categories__content-item
						label.categories__label.categories__label-checkbox
							input(type="checkbox", name="OS").categories__input-checkbox
							.categories__label-text.categories__label-text-checkbox Windows Mobile
					li.categories__content-item
						label.categories__label.categories__label-checkbox
							input(type="checkbox", name="OS").categories__input-checkbox
							.categories__label-text.categories__label-text-checkbox Symbian
					li.categories__content-item
						label.categories__label.categories__label-checkbox
							input(type="checkbox", name="OS").categories__input-checkbox
							.categories__label-text.categories__label-text-checkbox Custom
					li.categories__content-item
						a(href="#").clear-filter Сбросить фильтр