.product__list_v-inline-block {
	background: none;
	border: none;
	text-align: justify;

	&:after {
		content: " ";
		width: 100%;
	}
}

.product__box-1_v-inline-block,
.product__box-2_v-inline-block,
.product__box-3_v-inline-block {
	margin-left: 0;
}

.product__box-1_v-inline-block {
	width: 100%;
	text-align: center;
}

.product__box-2_v-inline-block {
	width: 100%;
	min-height: 203px;
	border-right: none;
}

.product__box-3_v-inline-block {
	text-align: center;
	width: 100%;
	height: initial;
}
.product__item_v-inline-block {
	vertical-align: top;
	border: 1px solid #dee1e4;
	width: 235px;
	height: 512px;
	display: inline-block;
	background: white;
	margin-bottom: 20px;
	border-radius: 5px;
}

.product__full-size-img_v-inline-block {
	display: inline-block;
}

.product__article_v-inline-block {
	display: none;
	text-align: center;
	font-size: 12px;
	color: #7f7f7f;
}

.product__title_v-inline-block {
	font-size: 14px;
	text-align: center;
	white-space: normal;
	height: 46px;
	text-overflow: inherit;
}

.product__info_v-inline-block {
	display: none;
	margin: 15px 0 20px 0;
	font-size: 14px;
	color: #333333;
	height: 65px;
	padding-right: 20px;
	padding-left: 15px;
	overflow: hidden;
}

.product__price_v-inline-block {
	display: block;
}

.product__availability_v-inline-block {
	position: relative;
	bottom: 0;
	right: 0;
	float: left;
}

.product__add-to-cart_v-inline-block {
    position: relative;
    float: right;
}

.product__rate-list_v-inline-block {
	padding-left: 0;
	text-align: center;
}

.product__features-list_v-inline-block {
	display: block;
}